@import "tailwindcss";

@font-face {
  font-family: "Circle Rounded Bold";
  src: url("/fonts/CirceRounded-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circle Rounded Extra Bold";
  src: url("/fonts/CirceRounded-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary: #fe1919;
  --secondary: #00d34e;
  --complement: #f4d941;
  --semilleros: #233567;

  --crayolaGreen: #00502e;
  --crayolaYellow: #ffcc33;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Circle Rounded Bold";
}

h1,
h2,
h3,
h4,
h5,
strong,
b {
  font-family: "Circle Rounded Extra Bold";
}

.bg-banner {
  background: black url("../../public/bg-banner.jpg") scroll no-repeat center /
    cover;
}

/* ANIMATIONS */

.floating-image-b {
  -webkit-animation-name: animation-t; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: animation-t;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-t {
  0% {
    bottom: -0.5em;
  }
  50% {
    bottom: 0.5em;
  }
  100% {
    bottom: -0.5em;
  }
}

.floating-image-t {
  -webkit-animation-name: animation-b; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: animation-b;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-b {
  0% {
    top: -0.5em;
  }
  50% {
    top: 0.5em;
  }
  100% {
    top: -0.5em;
  }
}

.floating-image-footer {
  -webkit-animation-name: animation-f; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: animation-f;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-f {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: -100px;
  }
  100% {
    bottom: -200px;
  }
}

.bg-crayola {
  background: transparent url("/sala-crayola-mobile.jpg") scroll no-repeat
    center / 120%;
}

@media (min-width: 768px) {
  .bg-crayola {
    background-image: url("/sala-crayola.jpg");
  }
}
