@import "tailwindcss";

@font-face {
  font-family: "Circle Rounded Bold";
  src: local("Antitype"),
    url("/fonts/CirceRounded-Bold.otf") format("opentype") tech(color-COLRv1),
    url("/fonts/CirceRounded-Bold.otf.otf") format("opentype");
}
@font-face {
  font-family: "Circle Rounded Extra Bold";
  src: local("Antitype"),
    url("/fonts/CirceRounded-ExtraBold.otf") format("opentype")
      tech(color-COLRv1),
    url("/fonts/CirceRounded-ExtraBold.otf.otf") format("opentype");
}

:root {
  --primary: #d74132;
  --secondary: #73cb65;
}

body {
  font-family: "Circle Rounded Bold";
}

h1,
h2,
h3,
h4,
h5,
strong,
b {
  font-family: "Circle Rounded Extra Bold";
}

.bg-banner {
  background: black url("../../public/bg-banner.jpg") scroll no-repeat center /
    cover;
}

/* ANIMATIONS */

.floating-image-b {
  -webkit-animation-name: animation-t; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: animation-t;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-t {
  0% {
    bottom: -0.5em;
  }
  50% {
    bottom: 0.5em;
  }
  100% {
    bottom: -0.5em;
  }
}

.floating-image-t {
  -webkit-animation-name: animation-b; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: animation-b;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-b {
  0% {
    top: -0.5em;
  }
  50% {
    top: 0.5em;
  }
  100% {
    top: -0.5em;
  }
}

.floating-image-footer {
  -webkit-animation-name: animation-f; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: animation-f;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-f {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: -100px;
  }
  100% {
    bottom: -200px;
  }
}
